.container {
  margin: 20px;
  text-align: center;
  min-height: 300px;
}
.statistic-card {
  margin-bottom: 15px;
}
.same-height {
  flex: 1;
}
.table-card {
  margin: 15px 0px;
}
.full-height {
  height: 100%;
  margin-bottom: 15px;
}
